:root {
  font-family: Inter, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #e8e6ed;
  color: #000;
  box-sizing: border-box;
  padding: 0 10px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 601px) {
  body {
    padding: 0;
  }
}

a {
  text-decoration: none;
  color: inherit;
}
p {
  margin: 0;
  padding: 0;
}
